.card {
    width: 432px;
    height: 306px;
    background-color: var(--preto90);
    margin: 1% 1%;
}

.card img {
    width: 100%;
}

.descricao {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.descripcionP {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.descripcionP p {
    color: #FFFFFF;
    cursor: pointer;
}

.imagen {
    color: white;
    cursor: pointer;
}

@media (max-width:1024px) {
}